.wrapper-out
  ul.menu-bar
    li.createBank
      button Create Bank
    li.showAll
      button Show All
    li.generate_keys
      button Generate Keys
    li.logout
      button Logout

  .content


    .create
      input(type='text', value= 'Bank Name')
      button Submit
    .show
    .generate
