.content
  #tabs
    ul
      li
        a(href='#tabs-1')
          button Create Bank
      li
        a(href='#tabs-2')
          button Show All
      li
        a(href='#tabs-3')
          button Generate Keys
      li
        a(href='#tabs-4')
          button Log out

    #tabs-1
      input(type='text')
      button Submit
    #tabs-2
      p All Banks Keys are shown here
    #tabs-3
      p Key Generator
