html
  head
    link(rel='stylesheet' href='assets/css/main.css)')

body
  .wrapper-out
    button.logout Logout
    .new-bank
      input.name(type='text', value='Bank Name')
      button.create Create
    .list-of-banks
      .bank-name
      .keys
