
.wrapper-login
  h2 Please Sign In
  input.username(type='text', name='Username', value='Username')
  input.password(type='password', value='password')
  label
    input.checkbox(type = 'checkbox')
    |  Remember Me
  a(href='login.html')
    button.button Sign In
