@import 'https://fonts.googleapis.com/css?family=Fira+Sans';
.main-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #cccccc;
  height: 100vh; }
  .main-wrapper .wrapper-login {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: left;
    -webkit-align-items: left;
        -ms-flex-align: left;
            align-items: left;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .main-wrapper .wrapper-login h2 {
      font-family: 'Fira sans'; }
    .main-wrapper .wrapper-login .username, .main-wrapper .wrapper-login .password {
      width: 200px;
      height: 25px;
      -webkit-border-radius: 3px;
              border-radius: 3px;
      border: 1px solid lightgrey;
      padding-left: 5px; }
    .main-wrapper .wrapper-login .button {
      width: 208px;
      height: 30px;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      border: none;
      background-color: #0684d4;
      color: white;
      font-size: 1em; }
    .main-wrapper .wrapper-login label {
      margin-top: 10px;
      margin-bottom: 10px;
      font-family: 'Fira sans';
      font-size: 0.8em; }

.wrapper-out {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .wrapper-out .menu-bar {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .wrapper-out .menu-bar li {
      display: inline; }
      .wrapper-out .menu-bar li button {
        width: 150px;
        height: 25px;
        border: none;
        cursor: pointer;
        outline: none; }
        .wrapper-out .menu-bar li button:hover {
          background-color: #6c6868;
          color: white; }
        .wrapper-out .menu-bar li button:focus {
          background-color: #3d3d3d;
          color: white;
          border-right: 2px solid; }
  .wrapper-out .content {
    width: 600px;
    height: 100vh;
    background-color: #dddada;
    border-top: 2px solid white; }

.create {
  margin-top: 100px;
  margin-left: 50px; }
  .create input {
    width: 350px;
    height: 20px;
    padding-left: 5px; }
  .create button {
    height: 24px;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 0; }
    .create button:hover {
      background-color: #6c6868;
      color: white; }
    .create button:focus {
      background-color: #3d3d3d;
      color: white;
      border-right: 2px solid; }

.show, .generate {
  display: none; }

body {
  margin: 0;
  top: 0; }
